@mixin gradient-text() {
    background: -webkit-linear-gradient(45deg, $primary_5, $primary_4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin line-clamp($lines: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: $lines;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}
