$header_content_width: 1080px;
$header_auth_content_width: 1280px;
$header_height: 50px;

$button_icon_small: 15px;
$button_icon_medium: 17px;
$button_icon_large: 20px;

$sign_main_width: 400px;

$select_input_height: 34px;

$text_input_height: 38px;
$text_input_icon_size: 20px;
$text_input_warn_height: 17px;

$theme_switch_height: 23px;
$theme_switch_width: 44px;
