$spacing_0: 1px;
$spacing_1: 2px;
$spacing_2: 3px;
$spacing_3: 4px;
$spacing_4: 5px;
$spacing_6: 8px;
$spacing_8: 10px;
$spacing_10: 12px;
$spacing_13: 15px;
$spacing_16: 20px;
$spacing_20: 25px;
$spacing_24: 30px;
$spacing_32: 40px;
$spacing_40: 50px;
$spacing_48: 60px;
$spacing_56: 70px;
$spacing_64: 80px;

$border_r_xs: 2px;
$border_r_sm: 3px;
$border_r_md: 6px;
$border_r_lg: 10px;
$border_r_xl: 15px;
